extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-10
				ul.breadcrumb
					li 
						a(href='/index') Home
					li 
						a(href='/donor/index') Sponsor Management
					li Add Donor
		.row
			.col-lg-9.col-md-10
				.panel-group
					include ../errors
					form(action='/donor/adddonor', method='post')
						.panel.panel-default
							.panel-heading General Information
							.panel-body
								.form-group
									label.col-lg-2.form_lbl(for='firstname') First Name *
									input.col-lg-4.form_txt(name='firstname',value=donor.firstname autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='lastname') Last Name *
									input.col-lg-4.form_txt(name='lastname',value=donor.lastname autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='address1') Address Line *
									input.col-lg-10.form_txt(name='address1', value=donor.address1 autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='address2') Address Line2
									input.col-lg-10.form_txt(name='address2',value=donor.address2  autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='city') City *
									input.col-lg-4.form_txt(name='city', value=donor.city autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='state') State *
									input.col-lg-4.form_txt(name='state',value=donor.state autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='zip') Zip Code *
									input.col-lg-4.form_txt(name='zip', value=donor.zip autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='email') Email Address *
									input.col-lg-4.form_txt(name='email',value=donor.email autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='phone') Phone Number *
									input.col-lg-4.form_txt(name='phone', value=donor.phone autofocus)
								.form-group
									label.col-lg-3.form_lbl(for='comments') Comments
									input.col-lg-3.form_txt(name='comments',value=donor.comments autofocus)
						.panel.panel-default
							.panel-body.panel-action
								input.btn.btn-lg.btn-default.btn-primary(type='submit',value='Submit')
								input.btn.btn-lg.btn-primary(type='submit',value='Cancel')