extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-10
				ul.breadcrumb
					li 
						a(href='/') Home
					li Donor Management	
					li Donor Info
		.row
			.col-lg-9.col-md-10
				.panel-group
					include ../errors
					form(action=`/donor/editdonor/${donor.id}`, method='post')
						.panel.panel-default
							.panel-heading General Information
							.panel-body
								.form-group
									label.col-lg-2.form_lbl(for='firstname') First Name
									input.col-lg-4.form_txt(name='firstname', autofocus ,value = donor.firstname)
								.form-group
									label.col-lg-2.form_lbl(for='lastname') Last Name
									input.col-lg-4.form_txt(name='lastname', autofocus ,value = donor.lastname)
								.form-group
									label.col-lg-2.form_lbl(for='address1') Address Line2
									input.col-lg-10.form_txt(name='address1',  autofocus ,value = donor.address1)
								.form-group
									label.col-lg-2.form_lbl(for='address2') Address Line2
									input.col-lg-10.form_txt(name='address2',  autofocus, value = donor.address2)
								.form-group
									label.col-lg-2.form_lbl(for='city') City
									input.col-lg-4.form_txt(name='city', autofocus, value = donor.city)
								.form-group
									label.col-lg-2.form_lbl(for='state') State
									input.col-lg-4.form_txt(name='state', autofocus, value = donor.state)
								.form-group
									label.col-lg-2.form_lbl(for='zipcode') Zip Code
									input.col-lg-4.form_txt(name='zip', autofocus, value = donor.zip)
								.form-group
									label.col-lg-2.form_lbl(for='email') Email Address
									input.col-lg-4.form_txt(name='email', autofocus, value = donor.email)
								.form-group
									label.col-lg-2.form_lbl(for='phone') Phone Number
									input.col-lg-4.form_txt(name='phone', autofocus, value = donor.phone)
								.form-group
									label.col-lg-3.form_lbl(for='comment') Comments
									textarea.col-lg-3.form_txt(name='comment', row="4" ,column="2",value=comment)
						.panel.panel-default
							.panel-body.panel-action
								input.btn.btn-lg.btn-default.btn-primary(type='submit',value='Update')
								input.btn.btn-lg.btn-primary(type='submit',value='Cancel')
		.row
			.col-lg-9.col-md-9
				.panel-group
					.panel.panel-default
						.panel-heading Sponsored Students
						.panel-body
							each sponsored_student in sponsored_students
								.col-lg-4.col-md-3.col-sm-12.contentbox
									img.imgbox(src=sponsored_student.imageThumbnailUrl)
									h5= sponsored_student.firstname+' '+sponsored_student.lastname
									h4= sponsored_student.gender