extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-10
				ul.breadcrumb
					li 
						a(href='/') Home
					li Student Management
					li Enroll Student
		.row
			.col-lg-9.col-md-10
				.panel-group
					include ../errors
					form(action='/student/addstudent', method='post', enctype='multipart/form-data')
						.panel.panel-default
							.panel-heading General Information
							.panel-body
								.form-group
									label.col-lg-2.form_lbl(for='cbg_id') CBG_ID
									input.col-lg-2.form_txt(name='cbg_id', value=cbg_id, type='number' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='standard') Standard
									input.col-lg-2.form_txt(name='standard', value=standard, type='number' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='division') Division
									input.col-lg-2.form_txt(name='division', value=division, type='text' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='aadharnbr') Aadhar#
									input.col-lg-10.form_txt(name='aadharnbr', value=aadharnbr, type='text' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='lastname') Last Name
									input.col-lg-4.form_txt(name='lastname', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='firstname') First Name
									input.col-lg-4.form_txt(name='firstname', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='dob') Date of Birth
									input.col-lg-4.form_txt(name='dob', type='date', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='gender') Gender
									select#gender.col-lg-4.form_txt(type='select'  name='gender' required='true')
										option(value='Male') Male
										option(value='Female') Female
								.form-group
									label.col-lg-2.form_lbl(for='parentname') Parents Name
									input.col-lg-10.form_txt(name='parentname', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='guardian_occupation') Guardian Occupation
									input.col-lg-4.form_txt(name='guardian_occupation', type='text', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='income') Income(INR)
									input.col-lg-4.form_txt(name='income', value=income, type='number' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='membersinfamily') Members
									input.col-lg-4.form_txt(name='membersinfamily', value=membersinfamily, type='number' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='housetype') HouseType
									input.col-lg-4.form_txt(name='housetype', value=housetype, autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='address') AddressLine
									input.col-lg-10.form_txt(name='address',  autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='village') Village
									input.col-lg-4.form_txt(name='village', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='taluka') Taluka
									input.col-lg-4.form_txt(name='taluka', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='district') District
									input.col-lg-4.form_txt(name='district', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='pincode') Pincode
									input.col-lg-4.form_txt(name='pincode', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='mobile_nbr') Mobile Nbr
									input.col-lg-4.form_txt(name='mobile_nbr', value =mobile_nbr , autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='interest') Interests
									input.col-lg-4.form_txt(name='interest', value=interest, autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='ambition') Ambition
									input.col-lg-4.form_txt(name='ambition', value=ambition, autofocus)
						.panel.panel-default
							.panel-heading Student Evaluation
							.panel-body
								.form-group
									label.col-lg-3.form_lbl(for='referredby') Referred By: 
									input.col-lg-9.form_txt(name='referredby',value=referredby)
								.form-group
									label.col-lg-3.form_lbl(for='examination_marks') Marks In Examination 
									input.col-lg-1.form_txt(name='examination_marks',value=examination_marks)
								.form-group
									label.col-lg-3.form_lbl(for='financialposition') Financial Position 
									input.col-lg-1.form_txt(name='financialposition',value=financialposition)
								.form-group
									label.col-lg-3.form_lbl(for='studycommitment') Study Commitment 
									input.col-lg-1.form_txt(name='studycommitment',value=studycommitment)
								.form-group
									label.col-lg-3.form_lbl(for='activity') Activity 
									input.col-lg-1.form_txt(name='activity',value=activity)
								.form-group
									label.col-lg-3.form_lbl(for='total') Total 
									input.col-lg-3.form_txt(name='total',value=total)
								.form-group
									label.col-lg-3.form_lbl(for='comment') Comments
									textarea.col-lg-9.form_txt(name='comment', row="4" ,column="7",value=comment)
								.form-group
									label.col-lg-3.form_lbl(for='image') Student Photo
									input.col-lg-6.form_txt(name='image', type='file')
						.panel.panel-default
							.panel-body.panel-action
								input.btn.btn-lg.btn-default.btn-primary(type='submit',value='Submit')
								input.btn.btn-lg.btn-primary(type='submit',value='Cancel')