extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-10
				ul.breadcrumb
					li 
						a(href='/') Home
					li Student Management	
					li Enroll Student
		.row
			.col-lg-9.col-md-10
				.panel-group
					include ../errors
					form(action='/student/addstudent', method='post')
						.panel.panel-default
							.panel-heading General Information
							.panel-body
								.form-group
									label.col-lg-2.form_lbl(for='firstname') First Name
									input.col-lg-4.form_txt(name='firstname', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='lastname') Last Name
									input.col-lg-4.form_txt(name='lastname', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='parentname') Parents Name
									input.col-lg-4.form_txt(name='parentname', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='dob') Date of Birth
									input.col-lg-4.form_txt(name='dob', type='date', autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='address') Address Line
									input.col-lg-10.form_txt(name='address',  autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='village') Village
									input.col-lg-4.form_txt(name='village', autofocus)
									p.col-lg-5.form_txt ,Gujurat, INDIA
								.form-group
									label.col-lg-2.form_lbl(for='gender') Gender
									select#gender.col-lg-4.form_txt(type='select'  name='gender' required='true')
										option(value='Male') Male
										option(value='Female') Female
						.panel.panel-default
							.panel-heading General Information
							.panel-body
								.form-group
									label.col-lg-2.form_lbl(for='income') Income(INR)
									input.col-lg-4.form_txt(name='income', value=income, type='number' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='aadharnbr') Aadhar#
									input.col-lg-4.form_txt(name='aadharnbr', value=aadharnbr, type='text' autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='housetype') House Type
									input.col-lg-4.form_txt(name='housetype', value=housetype, autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='interest') Interests
									input.col-lg-4.form_txt(name='interest', value=interest, autofocus)
								.form-group
									label.col-lg-3.form_lbl(for='financialposition') Financial Position 
									input.col-lg-3.form_txt(name='financialposition',value=financialposition)
								.form-group
									label.col-lg-3.form_lbl(for='studycommitment') Study Commitment 
									input.col-lg-3.form_txt(name='studycommitment',value=studycommitment)
								.form-group
									label.col-lg-3.form_lbl(for='activity') Activity 
									input.col-lg-3.form_txt(name='activity',value=activity)
								.form-group
									label.col-lg-3.form_lbl(for='total') Total 
									input.col-lg-3.form_txt(name='total',value=total)
								.form-group
									label.col-lg-3.form_lbl(for='comment') Comments
									textarea.col-lg-3.form_txt(name='comment', row="4" ,column="2",value=comment)
								.form-group
									input.btn.btn-primary.btn-md(type='submit',value='Submit')
									input.btn.btn-primary.btn-md(type='submit',value='Cancel')