extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-9
				ul.breadcrumb
					li 
						a(href='/') Home
					li Student Management
					li Students
		.row
			.col-lg-9.col-md-9.col-sm-12.searchbox
				form.navbar-form.navbar-center(action='/student/search', method='get')
					.form-group
						input.form-control(name='query', placeholder='Search Students')
						input.btn.btn-default(type='submit', value='search')
		.row
			.col-lg-9.col-md-9.col-sm-12.contentbox
				each student in students
					.col-lg-3.col-md-3.contentinnerbox
						p: img.imgbox(src=student.imageThumbnailUrl)
						h5.studentdetail= student.firstname+' '+student.lastname
						h4= student.gender
						Standard 
						h5='Standard:'+' '+student.standard
						a.btn.btn-primary.btn-xs(href=`/student/editstudent/${student.id}`) View/Update
						if (student.IsSponsored == true)
							a.btn.btn-primary.btn-xs(disabled) Sponsored
						else
							a.btn.btn-primary.btn-xs(href=`/student/sponsorstudent/${student.id}`) Sponsor
		.row
			.col-lg-9.col-md-9
				include _paginate